/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Base */
body{
    font-family: Arial, sans-serif;
    background:#f4f6f9;
    color:#333;
    line-height:1.6;
}

/* Header */
.header{
    background: #2c5897;
    color:rgb(255, 255, 255);
    text-align:center;
    padding:40px 20px;
}

.header h1{
    font-size: clamp(26px,5vw,42px);
}

.header p{
    margin-top:10px;
    font-size:18px;
}

/* Nav */
.nav{
    background:#2e5b9a;
    text-align:center;
    padding:15px;
}

.nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

/* Container */
.container{
    max-width:1100px;
    margin:auto;
    padding:25px;
}

/* Intro */
.intro{
    text-align:center;
    margin-bottom:30px;
}

/* Servicios Grid */
.servicios{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:20px;
}

/* Tarjetas */
.tarjeta{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.tarjeta:hover{
    transform:translateY(-5px);
}

/* WhatsApp */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px 25px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* Responsive Extra */
@media(max-width:768px){

    .nav a{
        display:inline-block;
        margin:8px;
    }

    .container{
        padding:18px;
    }

}
